extends layout

block content
    .showcase
        form(action="/film" method="post")
            div.container
                input(type="text", name="title", placeholder="Movie search...", id="filmTitle")
                img(src="search.png", alt="")
            br
            br
            input(type="text", name="year", placeholder="Year", id="filmYear")
            br
            br
            input(type="submit", value="Search", id="search")
        br
        video(src="film.mp4", muted, loop, autoplay)