doctype html
html
    head
        title OMDb movie search
        link(rel="stylesheet", href="../css/style1.css")
        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Nunito&display=swap' rel='stylesheet')
    body 
        header
            .logo
                h2
                    a(href="/") OMDb
            .search-form
                .container
                    form(action="/film" method="post")
                        input(type="text", name="title", placeholder="Movie search...", id="filmTitle", required)
                        img(src="../images/search.png", alt="")
                        br
                        br
                        input(type="text", name="year", placeholder="Year (optional)", id="filmYear")
                        input(type="submit", value="Search", id="search")
                        br
    block content